html
  head
    title=titre
    style.
      /* Styles CSS */
      body {
        background-color: #f0f0f0;
      }
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start; 
        height: 100vh;
      }
      h1 {
        color: #333;
      }
      img {
        max-width: 100%;
        height: auto;
      }

  body
    .container
      h1=titre
      img(src=urlImage, alt="Accueil")
      a(href="/plats/lister") Voir liste des plats
